$headings-font-family:    'Catamaran', sans-serif;
$font-family-base:        'Noto_Sans', sans-serif;

$white:                   #FFFFFF;
$grey:                    #ADADAD;
$black:                   #000000;
$blue:                    #0275D8;
$red:                     #EB3D5B;

$border-light:            1px solid rgba(0,0,0,.125);

$footer-height:           85px;

$fa-font-path:            '~font-awesome/fonts';
