.btn-outline-danger {
    background-color: $white;
    border-color: $red;
    color: $red;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active {
    background-color: $red;
    border-color: $red;
}