nav {
    .navbar-nav {
        .btn,
        .nav-link,
        .form-control {
            font-family: $headings-font-family;
            font-size: $font-size-xs;
            font-weight: $font-weight-bold;
            letter-spacing: 0.8px;
            text-transform: uppercase;
        }
        
        .dropdown-item {
            text-transform: initial;
            font-size: $font-size-xs;
        }
        
        .navbar-brand {
            font-size: $font-size-lg;
        }
        
        .form-inline .form-control[type="search"] {
            text-transform: initial;
        }
    }
}

footer { 
    li.paginate_button.page-link,
    select.form-control.input-sm {
        font-size: $font-size-sm;
    }
}
