{% raw %}
<script id="xslt-options-template" type="text/html">
    {{ #options }}
        <option value="{{ filename }}" {{#default}}selected{{/default}}>{{ label }}</option>
    {{ /options }}
</script>

<script id="alert-template" type="text/html">
    <div class="alert alert-{{ type }} animated fadeIn" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{#error}}<strong class="text-capitalize">{{ type }}: </strong>{{/error}}{{ msg }}
    </div>
</script>
<script id="table-menu-ph-template" type="text/html">
    <option value="" class="text-center" selected disabled>{{ heading }}</option>
</script>

<script id="link-template" type="text/html">
    <a href="{{ url }}" target="_blank">{{ text }}</a>
</script>

<script id="table-menu-template" type="text/html">
    {{ #columns }}
        <li><a href="#" class="{{ cls }}" data-index="{{ index }}">{{ heading }}</a></li>
    {{ /columns }}
</script>

<script id="pagination-template" type="text/html">
    <a href="#" class="show-page" data-page="{{ page }}">{{ page }}</a>
</script>

<script id="index-template" type="text/html">
    <td class="index-column">{{ index }}
        <p>
            <a href="#" class="show-xml">
                <span class="fa fa-code"></span>
            </a>
        </p>
    </td>
</script>
{% endraw %}