<nav id="main-nav" class="navbar navbar-light navbar-static-top bg-faded d-flex flex-row">
    <a class="navbar-brand" href="{{ site.baseurl }}">Tei Viewer</a>
    <ul class="nav navbar-nav d-flex flex-row mr-auto">
            <li class="nav-item">
                <a href="{{ '/tables' | prepend: site.baseurl }}" class="nav-link">Tables</a>
            </li>
        </ul>

        <form class="form-inline float-lg-right">

            {% if page.active == 'tables' %}
                {% unless page.path contains "index.html" %}
                <input id="table-search" type="search" class="form-control" placeholder="Search">
                {% endunless %}
            {% endif %}

            {% unless page.active == 'upload' %}
            <a href="{{ '/upload' | prepend: site.baseurl }}" class="btn btn-primary form-control nav-link">Upload</a>
            {% else %}
            <button id="start-upload" class="btn btn-primary form-control nav-link">Upload Files</button>
            {% endunless %}
        </form>
</nav>