<nav class="navbar navbar-light navbar-static-top bg-faded animated slideInLeft">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">Tei Viewer</a>

        <button class="navbar-toggler hidden-lg-up pull-xs-right" type="button" data-toggle="collapse" data-target="#main-navbar">
            &#9776;
        </button>

        <div id="main-navbar" class="collapse navbar-toggleable-md">
            <ul class="nav navbar-nav">
                {% unless page.active == 'table' %}
                <li class="nav-item">
                    <a href="/" class="nav-link nav-exit">View Table</a>
                </li>
                {% endunless %}

                {% if page.active == 'table' %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Transform</a>
                    <div class="dropdown-menu" id="select-xslt">
                        {% for file in site.static_files %}
                            {% if file.path contains 'xslt/' %}
                                {% unless file.path contains 'xslt/helpers.xsl' %}
                                    <a href="#" class="dropdown-item">{{ file.path | remove_first: "/assets/xslt/" }}</a>
                                {% endunless %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% elsif page.active == 'editor' %}
                <li class="nav-item">
                    <a class="nav-link" id="xml-save">Save</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="xml-export">Export XML</a>
                </li>
                {% elsif page.active == 'upload' %}
                <li class="nav-item">
                    <a href="#" class="nav-link add-files">Add Files</a>
                </li>
                {% endif %}

                {% unless page.active == 'docs' %}
                <li class="nav-item">
                    <a href="/help" class="nav-link nav-exit">Help</a>
                </li>
                {% endunless %}
            </ul>

            <form class="form-inline pull-lg-right">

                {% if page.active == 'table' %}
                <input id="table-search" type="search" class="form-control" placeholder="Search">
                {% endif %}

                {% unless page.active == 'upload' %}
                <a href="/upload" class="btn btn-primary form-control nav-link nav-exit">Upload</a>
                {% else %}
                <button id="start-upload" class="btn btn-primary form-control nav-link">Upload Files</button>
                {% endunless %}
            </form>

        </div>
    </div>
</nav>