<nav class="navbar navbar-light navbar-static-top bg-faded" style="display: none;">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">Tei Viewer</a>

        <button class="navbar-toggler hidden-lg-up pull-xs-right" type="button" data-toggle="collapse" data-target="#main-navbar">
            &#9776;
        </button>

        <div id="main-navbar" class="collapse navbar-toggleable-md">
            <ul class="nav navbar-nav">
                {% unless page.active == 'table' %}
                <li class="nav-item">
                    <a href="/" class="nav-link nav-exit">View Table</a>
                </li>
                {% endunless %}

                {% if page.active == 'table' %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Hide</a>
                    <div class="dropdown-menu" id="hide-menu">
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Show</a>
                    <div class="dropdown-menu" id="show-menu">
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Clear</a>
                    <div class="dropdown-menu" id="clear-menu">
                        <a href="#" class="dropdown-item" id="clear-selected">Selected Rows</a>
                        <a href="#" class="dropdown-item" id="clear-all">All Rows</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id="csv-export">Export</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" onclick="window.print()">Print</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">XSLT</a>
                    <div class="dropdown-menu" id="select-xslt">
                        {% for file in site.static_files %}
                            {% if file.path contains 'xslt/' %}
                                {% unless file.path contains 'xslt/helpers.xsl' %}
                                    <a href="#" class="dropdown-item" id="clear-selected">{{ file.path | remove_first: "/assets/xslt/" }}</a>
                                {% endunless %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% elsif page.active == 'editor' %}
                <li class="nav-item">
                    <a href="#" class="nav-link" id="xml-save">Save</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id="xml-download">Download</a>
                </li>
                {% elsif page.active == 'upload' %}
                <li class="nav-item">
                    <a href="#" class="nav-link add-files">Add Files</a>
                </li>
                {% endif %}

                {% unless page.active == 'help' %}
                <li class="nav-item">
                    <a href="/help/" class="nav-link nav-exit">Help</a>
                </li>
                {% endunless %}
            </ul>

            <ul class="nav navbar-nav pull-lg-right">

                {% if page.active == 'table' %}
                <li item="nav-item">
                    <a href="/upload/" class="btn btn-primary nav-link nav-exit">Upload</a>
                </li>
                {% endif %}

                {% if page.active == 'upload' %}
                <li item="nav-item">
                    <button id="start-upload" class="btn btn-primary nav-link">Upload <span id="n-files"></span> Files</button>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>