#editor-modal .CodeMirror {
    height: 100%;
}

#editor-modal .modal-body {
    padding: 0px;
}

#editor-modal .modal-dialog {
    overflow-y: initial !important
}

#editor-modal .modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}