.dataTables_wrapper {
    overflow: auto;
    height: 100%;
    width: 100%;
    position: absolute
}

.dt-buttons {
    float: left;
}

.dt-button.buttons-columnVisibility.dropdown-item.active,
.dt-button.buttons-columnVisibility.dropdown-item.active:focus,
.dt-button.buttons-columnVisibility.dropdown-item.active:hover {
    color: initial;
    text-decoration: initial;
    background-color: initial;
    outline: initial;
}

.dt-button.buttons-columnVisibility span::before {
    font-family: "FontAwesome";
    content: "\f00d";
    margin-right: 1rem;
}

.dt-button.buttons-columnVisibility.active span::before {
    content: "\f00c";
}

#table-view table,
#table-view table thead {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-collapse: collapse!important;
}

#table-view table tbody tr.selected td:not(:first-child) {
    background-color: $blue;
    color: $white;
}

#table-view table tr .select-checkbox::after {
    font-family: "FontAwesome";
    content: "\f096";
}

#table-view table tr.selected .select-checkbox::after {
    content: "\f046";
}

#table-view table td.dataTables_empty {
    position: fixed;
    width: 100vw;
}

#table-view table th.focus,
#table-view table td.focus {
    outline: 3px solid $blue;
    outline-offset: -1px;
}

.dataTables_info .select-info::before {
    content: " ("
}

.dataTables_info .select-info::after {
    content: ")"
}

@media print {
    .dataTables_wrapper {
        overflow: visible;
    }
}

#table-view table.DTCR_clonedTable {
    position:absolute !important;
    background-color: rgba($white, 0.7);
    z-index:202
}

div.DTCR_pointer{
    width:1px;
    background-color: darken($blue, 10%);
    z-index: 201
}

@media screen {

    #table-view {
        overflow-y: hidden;
    }

    #table-view table  {
        border: none;
        position: relative;
        table-layout: fixed;
        height: 100%;
        background-color: $white;
    }

    #table-view table thead {
        position: absolute;
        display: block;
    }

    #table-view table tbody {
        width: auto;
        display: block;
        overflow-x: hidden;
        height: 100%;
        position: absolute;
    }

    #table-view table th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #table-view table th:first-child,
    #table-view table td:first-child {
        padding: 6px 0px;
        min-width: 60px;
        max-width: 60px;
        text-align: center;
    }

    #table-view table td:first-child {
        cursor: e-resize;
    }

    #table-view table th:first-child {
        cursor: se-resize;
    }

    #table-view table th:nth-child(n+2),
    #table-view table td:nth-child(n+2) {
        padding: 6px 20px;
        min-width: 300px;
        max-width: 300px;
    }

    #table-view table td:nth-child(n+2),
    #table-view table thead>tr>th.sorting_asc,
    #table-view table thead>tr>th.sorting_desc,
    #table-view table thead>tr>th.sorting {
        padding-right: 30px;
    }
}