body {
    font-family: $base-font-stack;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $heading-font-stack;
    font-weight: 300;
}

nav,
nav .navbar-nav .btn,
nav .navbar-nav .nav-link,
#loading {
    font-family: $heading-font-stack;
    font-size: 0.85em;
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

nav .navbar-nav .dropdown-item {
    text-transform: initial;
}

nav .navbar-nav .navbar-brand {
    font-size: 1.15em;
}

#loading .fa {
    font-size: 4em;
}
