body {
    font-family: $base-font-stack;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $heading-font-stack;
    font-weight: 300;
}

nav,
nav .navbar-nav .btn,
nav .navbar-nav .nav-link,
nav .form-inline .form-control  {
    font-family: $heading-font-stack;
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

nav .navbar-nav .dropdown-item {
    text-transform: initial;
    font-size: 0.75rem;
}

nav .navbar-nav .navbar-brand {
    font-size: 1.15rem;
}

nav .navbar-nav .form-inline .form-control[type="search"] {
    text-transform: initial;
    font-weight: 300;
}

footer,
footer li.paginate_button.page-link,
footer select.form-control.input-sm {
    font-size: 0.85em;
}
