/** General */

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $black;
}

main {
    flex: 1;
    background-color: $white;
    height: calc(100vh - 140px);
    overflow-y: scroll;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}
