/** General */

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $black;
}

main {
    flex: 1;
    height: 100%;
    display: none;
    position: relative;
    overflow: auto;
    background-color: $white;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}
