---
# Main Sass file
---

@font-face {
    font-family: Catamaran;
    src: url('{{ site.baseurl }}/assets/fonts/Catamaran/Catamaran-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Catamaran;
    src: url('{{ site.baseurl }}/assets/fonts/Catamaran/Catamaran-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Noto_Sans;
    src: url('{{ site.baseurl }}/assets/fonts/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Noto_Sans;
    src: url('{{ site.baseurl }}/assets/fonts/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

$heading-font-stack: 'Catamaran', sans-serif;
$base-font-stack: 'Noto_Sans', sans-serif;

$white: #FFFFFF;
$grey: #ADADAD;
$black: #000000;
$blue: #0275D8;
$red: #EB3D5B;

$border-light: 1px solid rgba(0,0,0,.125);

$footer-height: 85px;

@import
    "base",
    "partials/typography",
    "partials/upload",
    "partials/table",
    "partials/nav",
    "partials/footer",
    "partials/scroll",
    "partials/landing",
    "partials/buttons",
    "partials/overlay",
    "partials/progress"
;