main {
    min-height: 100vh;
}

.tabcontent {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.table-scroll {
    width:100%;
    max-width:100%;
    overflow-x:auto;
}

.tab-pane {
    display: none;
}
.tab-pane.active {
    display: initial;
}

footer {
    margin-top: 60px;
    text-align: center;
    width: 100%;
    background-color: #EEEEEE;
    height: 60px;
    padding-top: 20px
}
footer a {
    color: #666666;
}
footer a:hover,
footer a:focus,
footer a:active {
    color: #888888;
    text-decoration: none;
}

@media print {
    .tabcontent {
        border: none;
        padding: none;
    }
    .tab-pane {
        display: none;
    }
    .tab-pane.active {
        display: initial;
    }
}