/** General */

html {
    height: 100%;
}

body {
    height: 100%;
}

main {
    min-height: calc(100vh - 90px);
    position: relative;
}

.alert {
    width: 100%;
    z-index:999;
    border-radius:0px;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

#files-uploaded {
    padding: 0px 10px 0px 10px;
}

/** Navigation */

.navbar {
    margin-bottom: 0px;
}

.navbar #gh-link {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-toggle {
    padding: 6px 10px;
}

.navbar-form {
    border: none;
    margin: 0px;
    padding: 10px 15px;
}


/** Tables */

#tei-table {
    width: 100%;
    overflow-x: auto;
    height: calc(100vh - 90px);
    position: relative;
}

#tei-table .table {
    table-layout: auto;
    margin-bottom: 0px;
}

#tei-table table>tbody>tr>td:not(:first-child),
#tei-table table>tbody>tr>th:not(:first-child),
#tei-table table>tfoot>tr>td:not(:first-child),
#tei-table table>tfoot>tr>th:not(:first-child),
#tei-table table>thead>tr>td:not(:first-child),
#tei-table table>thead>tr>th:not(:first-child) {
    background-color: #fff;
    min-width: 300px;
}

#tei-table table>tbody>tr>td:first-child,
#tei-table table>tbody>tr>th:first-child,
#tei-table table>tfoot>tr>td:first-child,
#tei-table table>tfoot>tr>th:first-child,
#tei-table table>thead>tr>td:first-child,
#tei-table table>thead>tr>th:first-child {
    background-color: #F8F8F8;
    padding: 8px 10px 8px 10px;
    text-align: center;
    min-width: 60px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px 20px 8px 20px;
}

#table-view {
    height: 100%;
    width: 100%;
    position: absolute;
}

.table-responsive,
.table-bordered {
    border: none;
}


/** Buttons */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
}


/** Modals */

#help-modal h2:first-child {
    padding: 0px 20px 0px 20px;
}
#help-modal h2:not(:first-child) {
    padding: 20px 20px 0px 20px;
}
#help-modal p {
    padding: 0px 20px 0px 20px;
}
#help-modal pre {
    margin: 20px 20px 10px 20px;
}

.modal-body {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}


/** Upload box */

.upload-box {
    text-align: center;
    font-size: 1.5em;
    color: #5E5E5E;
    position: relative;
    padding: calc((100vh - 90px - (1.5em + 3em)) / 2) 20px;
    height: 100%;
}

.upload-box .btn-file:hover {
    color: #449D44;
    cursor: pointer;
}

.upload-box .btn-file .uploadbox-dragndrop {
    color: #5E5E5E;
}

.upload-box-dragndrop,
.upload-box-uploading,
.upload-box-success,
.upload-box-error {
  display: none;
}

.upload-box.has-advanced-upload {
    outline: 2px dashed #ADADAD;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.upload-box.has-advanced-upload .upload-box-dragndrop {
  display: inline;
}

.upload-box.is-dragover {
  background-color: #E6E6E6;
}

/** Footer */

footer {
    text-align: center;
    width: 100%;
    background-color: #F8F8F8;
    height: 40px;
    padding-top: 10px;
    border-top: #e7e7e7 1px solid;
}


/** At-rules */

@media screen {

    #tei-table.fixed {
        overflow-y: hidden;
    }

    #tei-table.fixed table  {
        position: relative;
        table-layout: fixed;
        height: 100%;
    }

    #tei-table.fixed table thead {
        position: absolute;
        z-index: 10;
    }

    #tei-table.fixed table tbody {
        display: block;
        overflow-x: hidden;
    }

}

@media print {
    #tei-table {
        overflow: visible;
    }
    #tei-table table>tbody>tr>td,
    #tei-table table>tbody>tr>th,
    #tei-table table>tfoot>tr>td,
    #tei-table table>tfoot>tr>th,
    #tei-table table>thead>tr>td,
    #tei-table table>thead>tr>th {
        min-width: 0;
        width: auto!important;
    }
    #tei-table a, a:after {
        content: normal!important;
    }
}

@media(max-width:767px){
    #tei-form span.caret {
        display: none;
    }
    #tei-form .btn {
        width: 100%;
        margin-bottom: 10px;
    }
    #tei-form .btn-group {
        width: 100%;
    }
    #tei-form .dropdown-menu {
        position: relative;
        width: 100%;
        -webkit-box-shadow: none;
        -box-shadow: none;
    }
}


/** TEI */

#tei-table quote {
    font-style: italic;
}

#tei-table [data-toggle=tooltip] {
    border-bottom: 1px dashed #999;
    display: inline;
}

#tei-table [data-toggle=tooltip]:hover {
    border-bottom-color: #cdcdcd;
}
