<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>

        {% include nav.html %}

        {% include loading.html %}

        {{ content }}

        {% include footer.html %}

        {% include mustache.html %}

        <script src="{{ "/assets/dist/js/vendor.js" | prepend: site.url }}"></script>
        <script src="{{ "/assets/dist/js/custom-modernizr.min.js" | prepend: site.url }}"></script>
        <script src="{{ "/assets/dist/js/packed.js" | prepend: site.url }}"></script>

    </body>

</html>