<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>

        {% include nav.html %}

        {{ content }}

        {% include footer.html %}

        {% include mustache.html %}

        <script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="assets/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="assets/bower_components/mustache.js/mustache.min.js"></script>
        <script src="assets/bower_components/js-cookie/src/js.cookie.js"></script>
        <script src="assets/bower_components/showdown/dist/showdown.min.js"></script>
        <script src='assets/bower_components/db.js/dist/db.min.js'></script>
        <script src='assets/bower_components/bootpag/lib/jquery.bootpag.min.js'></script>
        <script src='assets/bower_components/codemirror/lib/codemirror.js'></script>
        <script src='assets/bower_components/codemirror/mode/xml/xml.js'></script>
        <script src="assets/js/table.js?v=1.2.3"></script>
        <script src="assets/js/scripts.js?v=1.2.4"></script>

    </body>
</html>