<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>

        {% include nav.html %}

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        {{ content }}
                    </div>
                </div>
            </div>
        </main>

        {% include footer.html %}

        <script src="{{ "/assets/js/dist/vendor.js" | prepend: site.url }}"></script>
        <script src="{{ "/assets/js/dist/custom-modernizr.min.js" | prepend: site.url }}"></script>
        <script src="{{ "/assets/js/dist/packed.js" | prepend: site.url }}"></script>

    </body>

</html>