<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>

        {% include nav.html %}

        <main id="help-view" class="p-t-3 p-b-3 animated slideInRight">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-8 offset-md-2">
                        {{ content }}
                    </div>
                </div>
            </div>
        </main>

        {% include footer.html %}

        <script src="{{ "/assets/dist/js/vendor.js" | prepend: site.url }}"></script>
        <script src="{{ "/assets/dist/js/custom-modernizr.min.js" | prepend: site.url }}"></script>
        <script src="{{ "/assets/dist/js/packed.js" | prepend: site.url }}"></script>

    </body>

</html>